{% extends 'base/base.html'%}
{% block content%}

{% if messages %}
  {% for messsage in messages %}
    {% if messsage.tags == 'info' %}
      <div class="alert alert-primary" role="alert">{{messsage}}</div>
    {% endif %}
    {% if messsage.tags == 'warning' %}
      <div class="alert alert-danger" role="alert">{{messsage}}</div>
    {% endif %}
  {% endfor %}
{% endif %}

<div class="container py-4 my-4 bg-dark text-light rounded">
    <h1 class="text-center">ADD ROOM</h1>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form  method="POST" action="/user/add-room/new/" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="first_name">Room No</label>
                        <input type="text" class="form-control" id="first_name" name="room_no" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Room Type</label>
                        <select class="custom-select" name="room_type" required>
                          <option value="Single Room">Single Room</option>
                          <option value="Double Room">Double Room</option>
                          <option value="Deluxe Room">Deluxe Room</option>
                          <option value="Super Deluxe Room">Super Deluxe Room</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="text">Price</label>
                        <input type="text" class="form-control" id="price" name="price" required>
                    </div>
                    <div class="form-group col-md-12">
                      <label for="room_image">Room Image</label>
                      <input type="file" class="form-control" name="room_image" required>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="no_of_days_advance">No of days in advance</label>
                      <input type="text" class="form-control" id="no_of_days_advance" name="no_of_days_advance" required>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="start_day">From when room will be available for booking</label>
                      <input type="date" class="form-control" id="start_day" name="start_day" required>
                  </div>
                    <div class="text-center">
                        <input type="submit" value="Add Room" name="submit" class="btn btn-warning">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}