{% extends 'base/base.html'%}
{% block content%} 
<!--===========================================================================-->
{% if messages %}
  {% for messsage in messages %}
    {% if messsage.tags == 'info' %}
      <div class="alert alert-primary my-2 px-4 text-center" role="alert">{{messsage}}</div>
    {% endif %}
    {% if messsage.tags == 'warning' %}
      <div class='alert alert-danger my-2 px-4 text-center'>{{messsage}}</div>
    {% endif %}
  {% endfor %}
{% endif %}

<div class="container py-2 my-2">
  <div class="row">
    <div class="col-6 my-3">
      <a href="/user/add-room/new" class="btn btn-success"><i class="fa fa-plus"></i> Add Room  </a>
    </div>
        <div class="col-6 my-3">
      <a href="/user/add-room/new1" class="btn btn-success"><i class="fa fa-plus"></i> Add Apartment  </a>
    </div>
    <div class="col-md-6 text-center">
      <div class="bg-warning rounded py-3 my-2">
        <h4>Occupied Rooms Status</h4>
        <h2>{{booked}}</h2>  
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="bg-warning rounded py-3 my-2">
        <h4>Total Rooms to manage</h4>
        <h2>{{room_data.count}}</h2>          
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="bg-warning rounded py-3 my-2">
        <h4>Occupied Apartment Status</h4>
        <h2>{{apartment_data.count}}</h2>  
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="bg-warning rounded py-3 my-2">
        <h4>Total Apartment to manage</h4>
        <h2>{{apartment_data.count}}</h2>          
      </div>
    </div>
    <!--Room Status-->
    <div class="col-md-12 my-4">
      <div class="booking-history">
        <h1>Room Status</h1>
        {% if room_data %}
          <div class="table-wrap">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Room No</th>
                  <th scope="col">Room Type</th>
                  <th scope="col">Price</th>
                  <th scope="col">Customer Name</th>
                  <th scope="col">Booked On</th>
                  <th scope="col">Booking Data</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>

              <tbody>
                {% for room in room_data%}
                <tr>
                  <td class="small" >{{room.room_no}}</td>
                  <td class="small" >{{room.room_type}}</td>
                  <td class="small" >&#x20b9; {{room.price}}</td>
                  {% with data=room.booking_set.all.0 %}
                  <td class="small" ><a href="/user/dashboard/details/{{data.user_id.id}}/{{data.id}}">{{data.user_id.username}}</a></td>
                  <td class="small" >{{data.booked_on}}</th>
                  <td class="small" >
                  {% if  room.is_available%}
                  Available
                  {% else %}
                  {{data.start_day}} to {{data.end_day}}
                  {% endif %}
                  </td>
                  <td class="small" >
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <a class="btn btn-primary btn-sm" href="{% url 'update-room' room.room_no %}">Edit</a>
                      <a class="btn btn-danger text-light cancel-btn btn-sm" href="" id="{{room.id}}">Delete</a>
                    </div>
                  </td>
                {% endwith %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="jumbotron">
            <p class="lead">You don't have any room added </p>
          </div>
        {% endif %}
      </div>
    </div>
    <!--Apartment Status-->
      <div class="col-md-12 my-4">
      <div class="booking-history">
        <h1>Apartment Status</h1>
        {% if apartment_data %}
          <div class="table-wrap">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Apartment No</th>
                  <th scope="col">Apartment Type</th>
                  <th scope="col">Price</th>
                  <th scope="col">Customer Name</th>
                  <th scope="col">Booked On</th>
                  <th scope="col">Booking Data</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>

              <tbody>
                {% for apartment in apartment_data%}
                <tr>
                  <td class="small" >{{apartment.apartment_no}}</td>
                  <td class="small" >{{apartment.apartment_type}}</td>
                  <td class="small" >&#x20b9; {{apartment.price}}</td>
                  {% with data=apartment.booking_set.all.0 %}
                  <td class="small" ><a href="/user/dashboard/details/{{data.user_id.id}}/{{data.id}}">{{data.user_id.username}}</a></td>
                  <td class="small" >{{data.booked_on}}</th>
                  <td class="small" >
                  {% if  apartment.is_available%}
                  Available
                  {% else %}
                  {{data.start_day}} to {{data.end_day}}
                  {% endif %}
                  </td>
                  <td class="small" >
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <a class="btn btn-primary btn-sm" href="{% url 'update-room1' apartment.apartment_no %}">Edit</a>
                      <a class="btn btn-danger text-light cancel-btn1 btn-sm" href="" id="{{apartment.id}}">Delete</a>
                    </div>
                  </td>
                {% endwith %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="jumbotron">
            <p class="lead">You don't have any apartment added </p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!--===========================================================================================-->
<script>
  cancel_btn=document.querySelectorAll(".cancel-btn")
    cancel_btn.forEach((data)=>{
    data.addEventListener("click",(e)=>{e.preventDefault()
    id=e.target.id
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      console.log(xhttp.responseText)
      document.getElementById("message").innerHTML = "<div class='chip green white-text'>"+xhttp.responseText+"</div>";
      window.setTimeout(function(){location.reload()},1000)
    }
    };
    xhttp.open("GET", "/delete-room/"+id, true);
    xhttp.send();
    })
  })
</script>
<!--============================================================================================-->
<script>
  cancel_btn1=document.querySelectorAll(".cancel-btn1")
    cancel_btn1.forEach((data)=>{
    data.addEventListener("click",(e)=>{e.preventDefault()
    id=e.target.id
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      console.log(xhttp.responseText)
      document.getElementById("message").innerHTML = "<div class='chip green white-text'>"+xhttp.responseText+"</div>";
      window.setTimeout(function(){location.reload()},1000)
    }
    };
    xhttp.open("GET", "/delete-room/"+id, true);
    xhttp.send();
    })
  })
</script>

{% endblock %}