{% extends 'base/base.html'%}

{% block content%}
<div class="container my-4 py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">Logged Out</h1>
                <p class="lead">You can been sucessfully logout.</p>
                <hr class="my-4">
                <p>Login as Customer </p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="/user/login" role="button">Click Here</a>
                </p>
                <hr class="my-4">
                <p>Login as Seller </p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="/manager/login1" role="button">Click Here</a>
                </p>
            </div>
        </div>
    </div>
</div>
{%endblock%}